<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1> Home page</h1>
    <p> hi hello i am priyanka ? and how are you ? what are you doing ? no nothing. 
        what is going in your life nothins
        ho! i see . i want  you are in illing but you are vaery fress look like 

    </p>
    <h3><%= 6+4 %></h3>
    <button>submit</button>
</body>
</html>